@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.container {
  min-height: 100%;
  width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  /* background: seagreen; */
}

/* .container {
  height: 100vh;
  width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
} */

header {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  grid-row: 1;
  grid-column: 1;
}

.logo {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  font-family: "PT Serif", serif;
}

.weAre {
  width: 50%;
  font-size: 18px;
  line-height: 27px;
}

main {
  width: 100%;
  min-height: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
  grid-row: 2;
  grid-column: 1;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 100px);
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  padding: 5px;
  margin: 20px 10px;
  /* border: deeppink dashed 1px; */
}

.card1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.card4 {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.card2 {
  grid-column: 2 / 3;
  grid-row: 2 /4;
}

.card5 {
  grid-column: 2 / 3;
  grid-row: 6;
}
.card3 {
  grid-column: 3;
  grid-row: 1 / 3;
}
.card6 {
  grid-column: 3;
  grid-row: 5/6;
}

.card > h3 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  /* border: deepskyblue 1px dashed; */
}

.card > small {
  height: 18px;
  width: 120px;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  position: absolute;
  right: -115px;
  transform-origin: left top;
  transform: rotate(90deg);
}

.card > img {
  height: 90%;
  width: 90%;
}

/* Footer */

footer {
  margin: 30px 0;
  text-align: center;
  grid-row: 3;
  grid-column: 1;
}

/* MediQuerie */

/* @media screen and (max-width: 360px) {
  .container {
    width: 360px;
    height: 100%;
    margin: 0px;
  }

  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    padding: 10px 10px;
  }

  .weAre {
    font-size: 14px;
    width: 100%;
  }

  main {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);
  }

  .card {
    width: 159px;
    height: 262px;
  }

  .card > img {
    height: 90%;
    width: 90%;
  }

  .card > h3 {
    font-size: 14px;
  }
  .card1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .card4 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .card2 {
    grid-column: 2;
    grid-row: 2 /4;
  }

  .card5 {
    grid-column: 2;
    grid-row: 6;
  }
  .card3 {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .card6 {
    grid-column: 2;
    grid-row: 5/6;
  }
} */

@media screen and (max-width: 760px) {
  .container {
    width: 360px;
    min-height: 100%;
    margin: 0px;
  }

  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    padding: 10px 10px;
  }

  .weAre {
    font-size: 14px;
    width: 100%;
  }

  main {
    min-height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 100px);
    /* background: chartreuse; */
  }

  .card {
    width: 159px;
    height: 262px;
  }

  .card > img {
    height: 90%;
    width: 90%;
  }

  .card > h3 {
    font-size: 14px;
  }

  .card1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .card4 {
    grid-row: 5 / 6;
    grid-column: 2;
  }

  .card2 {
    grid-column: 2;
    grid-row: 2 /4;
  }

  .card5 {
    grid-column: 1/ 2;
    grid-row: 7 / 8;
  }
  .card3 {
    /* border: coral 1px dashed; */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .card6 {
    grid-column: 2;
    grid-row: 8;
  }
}

/* @media screen and (max-width: 780px) {
  .container {
    width: 360px;
    height: 100%;
    margin: 0px;
  }

  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    padding: 10px 10px;
  }

  .weAre {
    font-size: 14px;
    width: 100%;
  }

  main {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 100px);
  }

  .card {
    width: 159px;
    height: 262px;
  }

  .card > img {
    height: 90%;
    width: 90%;
  }

  .card > h3 {
    font-size: 14px;
  }

  .card1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .card4 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .card2 {
    grid-column: 2;
    grid-row: 2 /4;
  }

  .card5 {
    grid-column: 2;
    grid-row: 6;
  }
  .card3 {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .card6 {
    grid-column: 2;
    grid-row: 5/6;
  }
} */
